// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


body {
  padding-top: 60px;
  background:  #d6ffff;
}

.content {
  margin: 0 auto;
  margin-left: 10%;
  margin-right: 10%;
}


.navbar-fixed-top {
  border-color: #E7E7E7;
  background-color: #12a28a;
}

.table td.text {
    max-width: 200px;
    span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: 100%;
    }
}


#logo {
  float: left;
  margin-right: 15px;
  font-size: 1.9em;
  color: #d6ffff;
  letter-spacing: -1px;
  padding-top: 8px;
  font-weight: bold;
  background: none;
  font-family: monospace;
}

#redirected_nav {
  float: left;
  margin-right: 15px;
  font-size: 1.9em;
  color: #d6ffff;
  letter-spacing: 3px;
  padding-top: 14px;
  font-weight: bold;
  background: none;
  font-family: monospace;
}

.navbar-right {

  border-color: #E7E7E7;

  li {
    &:hover {
      background-color: #269900;
      color: #d6ffff;
    }
    a:link, a:visited {
      color: #d6ffff;
    }
  }
}
