// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


body {
  padding-top: 60px;
}

.content {
  margin: 0 auto;
  margin-left: 10%;
  margin-right: 10%;
}


.navbar-fixed-top {
  border-color: #E7E7E7;
  background-color: #12a28a;
}
