%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    %nav
      .navbar-header
        = link_to "ProjectIT", root_path, id: "logo"
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to "Back", :back, id: "redirected_nav"
        %li
          - if user_signed_in?
            = link_to "Logout", destroy_user_session_path, :method => :delete, id: "redirected_nav"
        
