%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    %nav
      .navbar-header
        %button.navbar-toggle{:data => {:target => ".navbar-collapse", :toggle => "collapse"}, :type => "button"}
